.input{
  max-width: 360px;
}

.file-container {
  border: 2px dashed #ccc;
  padding: 25px;
  text-align: center;
  cursor: pointer;
}

.box-image {
  color: #666;
  font-size: 16px;
}

.fileInput {
  display: none;
}

.errorMessage{
  padding-left: 5px;
}

